In [1]:
import xml.etree.ElementTree as ET
import pandas as pd
from lxml import etree

In [7]:
df = pd.read_xml('export.xml', xpath='.//Record')

In [8]:
df.groupby("type").count().head()

,sourceName,sourceVersion,unit,creationDate,startDate,endDate,value,device,MetadataEntry,HeartRateVariabilityMetadataList
type,,,,,,,,,,
HKCategoryTypeIdentifierAppleStandHour,49348,49348,0,49348,49348,49348,49348,49217,0,0
HKCategoryTypeIdentifierAudioExposureEvent,232,232,0,232,232,232,232,232,0,0
HKCategoryTypeIdentifierHeadphoneAudioExposureEvent,1,1,0,1,1,1,1,0,0,0
HKCategoryTypeIdentifierMindfulSession,587,587,0,587,587,587,587,0,0,0
HKCategoryTypeIdentifierSleepAnalysis,46380,46380,0,46380,46380,46380,46380,16,0,0

In [9]:
df.groupby("sourceName").count().head()

,type,sourceVersion,unit,creationDate,startDate,endDate,value,device,MetadataEntry,HeartRateVariabilityMetadataList
sourceName,,,,,,,,,,
7 Minutes,157,157,157,157,157,157,157,0,0,0
Andre’s Apple Watch,4633318,4620156,4541470,4633318,4633318,4633318,4633318,4255041,0,13562
Andre’s iPhone,977,977,977,977,977,977,977,977,0,0
Bluetooth Device,127663,127663,127663,127663,127663,127663,127663,127663,0,0
Clock,16,16,0,16,16,16,16,16,0,0

In [16]:
df.groupby("type").count().to_excel("types.xlsx")

In [15]:
df[df["sourceName"] == "InBody"].to_excel("inbody_excel.xlsx")

In [2]:
fitness_df = pd.read_xml('export.xml', xpath='.//Workout')

In [3]:
fitness_df.head()

,workoutActivityType,duration,durationUnit,sourceName,sourceVersion,creationDate,startDate,endDate,MetadataEntry,WorkoutEvent,WorkoutStatistics,WorkoutRoute,device,WorkoutActivity
0,HKWorkoutActivityTypeCrossTraining,17.015473,min,Andre’s Apple Watch,4.0,2018-01-22 06:57:30 -0300,2018-01-22 06:39:57 -0300,2018-01-22 06:56:58 -0300,NaN,None,NaN,None,None,None
1,HKWorkoutActivityTypeCrossTraining,14.948904,min,Andre’s Apple Watch,4.0,2018-01-23 07:13:48 -0300,2018-01-23 06:49:57 -0300,2018-01-23 07:13:48 -0300,NaN,None,NaN,None,None,None
2,HKWorkoutActivityTypeCrossTraining,9.507583,min,Andre’s Apple Watch,4.0,2018-01-24 06:47:24 -0300,2018-01-24 06:37:53 -0300,2018-01-24 06:47:24 -0300,NaN,None,NaN,None,None,None
3,HKWorkoutActivityTypeCrossTraining,10.722526,min,Andre’s Apple Watch,4.0,2018-01-25 10:42:13 -0300,2018-01-25 10:31:29 -0300,2018-01-25 10:42:13 -0300,NaN,None,NaN,None,None,None
4,HKWorkoutActivityTypeCrossTraining,20.414945,min,Andre’s Apple Watch,4.0,2018-01-26 07:05:59 -0300,2018-01-26 06:45:34 -0300,2018-01-26 07:05:59 -0300,NaN,None,NaN,None,None,None

In [5]:
fitness_df.groupby("sourceName").count().head()

,workoutActivityType,duration,durationUnit,sourceVersion,creationDate,startDate,endDate,MetadataEntry,WorkoutEvent,WorkoutStatistics,WorkoutRoute,device,WorkoutActivity
sourceName,,,,,,,,,,,,,
Andre’s Apple Watch,1516,1516,1516,1516,1516,1516,1516,0,1,0,58,1332,33
Strava,43,43,43,43,43,43,43,0,0,0,32,0,0
WorkOutDoors,290,290,290,290,290,290,290,0,7,0,19,290,0

In [13]:
fitness_df.groupby("sourceName").count().head()

,type,sourceVersion,unit,creationDate,startDate,endDate,value,device,MetadataEntry,HeartRateVariabilityMetadataList
sourceName,,,,,,,,,,
7 Minutes,157,157,157,157,157,157,157,0,0,0
Andre’s Apple Watch,4633318,4620156,4541470,4633318,4633318,4633318,4633318,4255041,0,13562
Andre’s iPhone,977,977,977,977,977,977,977,977,0,0
Bluetooth Device,127663,127663,127663,127663,127663,127663,127663,127663,0,0
Clock,16,16,0,16,16,16,16,16,0,0

In [6]:
# Iterative approach to find InBody records
inbody_records = []

# Create an iterative parser
context = etree.iterparse('export.xml', events=('end',), tag='Record')

# Process each Record element
for event, elem in context:
    # Get all attributes of this record
    attributes = dict(elem.attrib)
    
    # Check if this is from InBody (checking source or device name)
    is_inbody = False
    for attr_name, attr_value in attributes.items():
        if 'source' in attr_name.lower() or 'device' in attr_name.lower():
            if 'inbody' in str(attr_value).lower():
                is_inbody = True
                break
    
    # If this is an InBody record, save it
    if is_inbody:
        inbody_records.append(attributes)
    
    # Clear element to free memory
    elem.clear()
    while elem.getprevious() is not None:
        del elem.getparent()[0]

# Convert to DataFrame
inbody_df = pd.DataFrame(inbody_records)
print(f"Found {len(inbody_records)} InBody records")

Found 260 InBody records

In [ ]:
inbody_df.head()